<template>
    <el-main v-if="tokenExist" class="ap">


        <el-row class="hidden-md-and-down" :gutter="21" >
            <el-col :span="4" :offset="6" >
                <span  class="beauty" style="display:inline-block"></span> <h3 style="display:inline-block"> Красота</h3>
            </el-col>

            <el-col :span="4"  >
                <span  class="charm" style="display:inline-block"></span> <h3 style="display:inline-block"> Обаятельность</h3>
            </el-col>

            <el-col :span="8" >
                <span  class="con" style="display:inline-block"></span> <h3 style="display:inline-block"> Конгениальность </h3>
            </el-col>
        </el-row>


        <el-row class="hidden-lg-and-up" :gutter="21" >
            <el-col :span="6" :offset="6" >
                <span  class="beauty" style="display:inline-block"></span> <h3 style="display:inline-block"> Красота</h3>
            </el-col>

            <el-col :span="6"  >
                <span  class="charm" style="display:inline-block"></span> <h3 style="display:inline-block"> Обаятельность</h3>
            </el-col>
        </el-row>

        <el-row class="hidden-lg-and-up" :gutter="21" >
            <el-col :offset="9" :span="8" >
                <span  class="con" style="display:inline-block"></span> <h3 style="display:inline-block"> Конгениальность  </h3>
            </el-col>
        </el-row>



        <el-row style="margin-top:40px" :gutter="24" v-for="(item, index) in $store.state.participants" :key="index">
            <el-col :span="24/$store.state.part-1" :offset="1" v-for="(participant, indexParticipant) in item" :key="indexParticipant">

                <el-card :body-style="{ padding: '0px' }">
                    <img style="max-height: 500px;object-fit:cover" :src="'participants/'+participant.path" class="image" width="100%">

                    <h3 align="center">{{participant.name}}</h3>

                        <el-row :gutter="24" style="padding: 7px;">
                            <el-col :span="7" :offset="2">
                                <beauty-like :canLike="$store.state.canLikeBeauty"  :id="participant.id" :count="participant.krasota_likes_count"></beauty-like>
                            </el-col>
                            <el-col :span="7">
                                <charm-like :canLike="$store.state.canLikeCharm"  :id="participant.id" :count="participant.obayatelnost_likes_count"></charm-like>
                            </el-col>
                            <el-col :span="7">
                                <congeniality-like :canLike="$store.state.canLikeCongeniality"  :id="participant.id" :count="participant.congenialnost_likes_count"></congeniality-like>
                            </el-col>
                        </el-row>

                </el-card>

            </el-col>
        </el-row>


        <el-dialog
                title="Мисс Reffection"
                :visible.sync="isDialogVisible"
                width="70%"
                center
        >
            <span style="font-size:large;word-break: normal;">
                <span>Мы решили определить, кто из девушек Reffection является самой-самой в трех категориях:</span>
                <span><h4>Красота – она не только спасет мир, но и вдохновит на новые великие свершения. Например, повышение конверсии.</h4></span>
                <span><h4>Обаятельность – когда девушка обладает таким магнетизмом, что может взглядом гнуть ложки, сбивать с толку компас и располагать к себе окружающих.</h4></span>
                <span><h4>Конгениальность – это совсем не про сверхгениальность, а про тот случай, когда кто-то так близок тебе по духу, что иногда, смотря на него, кажется, что ты наблюдаешь за самим собой.</h4></span>
                <span>У тебя есть 3 сердца. Красное – красота, синее – обаятельность и зеленое – конгениальность.<br></span>
                <span>Отдай каждое из сердец той, которая действительно этого достойна!<br></span>
                <span>Одна девушка может получить сердца сразу в нескольких номинациях.<br></span>
                <span>Голосовать за себя разрешается.</span>

            </span>

        </el-dialog>




    </el-main>
</template>

<script>
    import axios from 'axios';
    import BeautyLike from './BeautyLike';
    import CharmLike from './CharmLike';
    import CongenialityLike from './CongenialityLike';
    import 'element-ui/lib/theme-chalk/display.css';
    export default {
        components:{
            BeautyLike, CharmLike, CongenialityLike
        },
        data(){
            return {
                tokenExist : false,
                isDialogVisible : true
            }
        },
        created() {
            axios.defaults.headers.common['token'] = this.$route.params.token;
            this.init();
            this.getParticipants();
        },
        methods:{
            async  init(){
                await axios.get('/api/checkUserToken?token='+this.$route.params.token).then(response => {
                    if(response.data === 'exist'){
                        this.tokenExist = true;
                    }
                });
            },
            getParticipants(){
                this.$store.dispatch('getParticipants').catch(reason => {
                    this.$message.error('Ошибка загрузки');
                });
            }
        }
    }
</script>

<style scoped>
    .ap {
        background-color: #b3deff;
    }
    .beauty{
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        top: 10px;
    }
    .charm{
        background-image: url("https://pixy.org/src/449/4495897.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        top: 10px;
    }
    .con{
        background-image: url("https://lh6.ggpht.com/dQNCtjfo2btEAgQfj2PvyV0UllZIho-e11FbuFbGIfdwXqWHe1THe4gTkpQ0Y3LUwg");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        height: 55px;
        width: 55px;
        top: 10px;
    }
</style>